body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


/* LOCATE PLUGIN */
.leaflet-control-locate a {
  font-size: 1.4em;
  color: #444;
  cursor: pointer;
}
.leaflet-control-locate.active a {
  color: #2074B6;
}
.leaflet-control-locate.active.following a {
  color: #FC8428;
}
/* LOCATE PLUGIN */